html {
  height: 100%;
}

body {
  font-family: "Quantico", sans-serif;
  height: 100%;
  font-size: small;
}

h2 {
  text-align: center;
}

div {
  font-family: "Quantico", sans-serif;
}

.card-title {
  text-align: center;
}

.inner {
  width: 94%;
  margin: 2%;
}

.cart-author {
  float: left;
  text-align: left;
}

.card-content {
  text-align: right;
}

.card-date {
  float: left;
  text-align: left;
  font-style: italic;
}

.article-card {
  text-align: left;
  float: left;
  width: 70%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.best-article {
  width: 40%;
  min-width: 300px;
  float: left;
}

.top-articles {
  width: 30%;
  float: left;
  min-width: 230px;
}

.big-container {
  font-family: "Quantico", sans-serif;
  margin-top: 50px;
  text-align: center;
}

.links {
  text-decoration: none;
  color: #000000;
}

.img-top {
  width: 90%;
  min-width: 200px;
  max-height: 300px;
}

.img-tile {
  float: right;
  max-width: 27%;
  max-height: 100px;
  margin-left: 1%;
}

.articles-top {
  width: 90%;
  min-height: 500px;
  font-size: small;
  display: block;
  margin-left: 5%;
}

.best-article-card {
  width: 90%;
  text-align: left;
}

.articles {
  float: left;
  width: 45%;
  text-align: center;
  height: 100%;
  margin-left: 5%;
  min-width: 250px;
}

.articles1 {
  float: right;
  width: 30%;
  text-align: center;
  height: 100%;
  margin-right: 5%;
  min-width: 270px;
}
.action-buttons {
  width: 100%;
  float: left;
}
.heading {
  width: 90%;
  margin-top: 100px;
  margin-left: 5%;
  text-align: left;
  min-width: 300px;
}

.tile {
  height: 300px;
}

.topbar {
  background-color: #0d195a;
}

.nav-links {
  color: white;
}

.nav-div {
  margin-left: 2%;
}

.article {
  width: 90%;
  float: left;
  margin-left: 5%;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 230px;
  border-bottom-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgb(200, 200, 200);
}

a {
  text-decoration: none;
  color: inherit;
}

.top-button {
  float: right;
  color: white;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 769px) {
  .articles-top {
    border-style: none;
  }
}

@media only screen and (max-width: 600px) {
  .article {
    width: 80%;
    float: none;
    margin-left: 10%;
  }
  .img-div {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
  .img-tile {
    margin: 10px 0 10px 0;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    float: none;
  }
}
