.has-search .form-control {
  padding-left: 2.375rem;
}
.dropbtn {
  background-color: #4caf50;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  color: blue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content {
  background: white;
  .navlink {
    color: black;
    display: block;
    padding: 10px;
  }
}

.dropdown-content a:hover {
  background-color: #003153;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.profile-img {
  border: 1px solid inherit;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: inherit;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 6.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  background: none;
}

#search-icon {
  color: white;
  margin-top: 3px;
  margin-left: 150px;
}

#search-icon:focus {
  display: none;
}

form {
  input.form-control-search {
    background: white;
    border-radius: 20px;
    margin-top: 3px;
    background: none;
    border: 1px solid white;
  }

  input.form-control-search:focus {
    background: none;
    border: 1px solid white;
    color: white;
  }
}

.navbar {
  background: #003153;
  color: white;

  .nav-item {
    .nav-link {
      color: white;
      padding-top: 10px;
    }

    #notification-icon {
      color: white;
      width: 40px;
      margin-left: 30px;
      margin-right: 20px;
    }

    .profile-section {
      border: 1px solid white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 30px;
    }

    .get-started {
      border: 1px solid white;
      border-radius: 5px;
      margin-left: 30px;
    }
    .log-out {
      border: 1px solid white;
      border-radius: 5px;
      margin-left: 30px;
      color: white;
      background-color: inherit;
    }
  }
}

@media (max-width: 360px) {
  .nav {
    .nav-item {
      .nav-link {
        font-size: 12px;

        h4 {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 567px) {
  .nav {
    .nav-item {
      display: none;
    }
  }
}

@media (max-width: 1600px) {
  #nav-icon {
    display: none;
  }
}

@media (max-width: 995px) {
  .nav {
    display: inline;
  }
}

@media (max-width: 534px) {
  #nav-icon {
    display: inline;
    margin-right: 100px;
  }
}
