.password-reset-container {
  margin-top: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px 100px 50px 100px;

  p {
    text-align: center;
  }

  form {
    .form-errors-email {
      color: #ce8c64;
      font-size: 13px;
      padding: 0 30px 0 30px;
    }

    input.form-control {
      color: black;
      border: 2px none black;
      border-bottom-style: solid;
      width: 85%;
      border-radius: 0;
      margin: 0 30px 0 30px;
    }

    input.form-control:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    }

    .btn.btn-primary {
      background: #003153;
      border: none;
      border-radius: 0;
      padding: 10px 30px 10px 30px;
      margin: 0 30px 30px 30px;
    }

    input::placeholder {
      color: black;
    }
  }

  .form-errors {
    color: #ce8c64;
    font-size: 13px;
    margin: 0 30px 30px 30px;
  }
}

@media (max-width: 360px) {
  .container {
    .col-lg-3 {
      display: none;
    }

    .password-reset-container {
      margin: 0 30px 0 30px;
    }

    p {
      font-size: 15px;
    }

    h2 {
      font-size: 25px;
    }
  }
}

@media(max-width: 414px) {
  .container {

    .col-lg-3 {
      display: none;
    }

    .password-reset-container {
      margin: 30px 30px 0 30px;
    }

    p {
      font-size: 15px;
    }

    h2 {
      font-size: 25px;
    }
  }
}
