.Paper {
  padding: 30px 0 30px 0;
  margin-top: 15%;

  p,
  h3 {
    text-align: center;
  }

  .button-collective {
    margin-top: 30px;
    border-right: 2px solid black;
    height: 90%;
    width: 100%;

    .face-book,
    .twitter,
    .google {
      margin: 10px 0 5px 10%;
      color: black;
      width: 80%;
      font-family: "Quantico", sans-serif;
      border: 1px solid black;
      font-weight: bold;
    }

    img {
      padding-right: 10px;
    }
  }

  form {
    padding-top: 30px;
    width: 100%;

    .textField {
      width: 85%;
      margin-left: 5%;
    }

    .button-success {
      margin: 20px 5% 20px 5%;
      color: white;
      background: #003153;
      width: 85%;
      border-radius: 0;
      font-family: "Quantico", sans-serif;
      font-weight: bold;
      padding: 10px 0 10px 0;
    }

    .button-success:hover {
      background-color: #003153;
    }

    .form-errors {
      float: left;
      color: #ce8c64;
      text-align: left;
      font-size: 13px;
      padding-left: 27px;
      margin-top: -10px;
    }
  }

  #link {
    text-decoration: none;
  }

  @media (max-width: 959px) {
    .button-collective {
      border-right: none;
    }
    .google,
    .twitter,
    .face-book {
      width: 100%;
      margin: 0px;
    }
    form .textField {
      width: 100%;
      margin: 0px;
    }
    #login-form {
      width: 81%;
    }
    #login-form form {
      padding: 0px 40px;
    }
    #email,
    #password {
      width: 100% !important;
      padding: 15px 10px;
    }
    form .button-success {
      width: 100%;
      margin: 15px 0px !important;
    }
  }
}

@media (max-width: 768px) {
  #registerForm {
    width: 85% !important;
    margin-left: 70px !important;
  }
  form {
    .textField {
      width: 93% !important;
    }
  }
  .button-success {
    width: 93% !important;
  }
}

@media (max-width: 360px) {
  #registerForm {
    width: 100% !important;
    margin-left: 30px !important;
  }
  form {
    .textField {
      width: 150% !important;
    }
  }
  .button-success {
    width: 150% !important;
  }
}

@media (max-width: 414px) {
  #registerForm {
    width: 100% !important;
    margin-left: 30px !important;
  }
  form {
    .textField {
      width: 150% !important;
    }
  }
  .button-success {
    width: 150% !important;
  }
}